.btn-stop {
    background-image: url("./PNG/stop.png");
    padding: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-next {
    background-image: url("./PNG/next-media.png");
    padding: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-prev {
    background-image: url("./PNG/previous-media.png");
    padding: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-play {
    background-image: url("./PNG/play.png");
    padding: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-volume {
    width: 10px;
    height: 10px;
    background-image: url("./PNG/speaker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.btn-audio-controls {
    width: 20px;
    height: 20px;
    margin: 1px;
    display: inline-block;
}

.btn-pl-list {
    width: 10px;
    height: 10px;
    background-image: url("./PNG/list-3.png");
    position: absolute;
    right: 2px;
    /*float: right;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btnPressed {
    opacity: 0.7;
}

.playa-container {
    width: 400px;
    height: 120px;
    padding: 5px;
    position: relative;
}

.playa-container1 {
    width: 400px;
    height: 100px;
    padding: 5px;
    position: relative;
}

.playa-controlls-cont {
    height: 50px;
    position:absolute;
    padding-right: 10px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.audio-controlls-wrapper {
    display: inline-block;
    height: 24px;
    padding: 4px 2px 2px 2px;
}

.volume-wrap {
    height: 14px;
    width: 100%;
    padding-left: 3px;
    position: relative;
}

.clickable {
    width: 80%;
    height: 4px;
    border: 1px solid #333;
    border-radius: 2px;
    background: #eee;
    position: absolute;
    top: 3px;
    margin-left: 12px;
    box-sizing: border-box;
}

.display {
    height: 3px;
    width: 100%;
}

.progress {
    height:3px;
    width:10px;
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%);
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
}

.play-list-container {
    width: 92px;
    height: 45px;
    border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
    border: 1px solid black;
    top: -45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 4px;
}

.play-list-wrap {
    height: 35px;
}

.play-list {
    height: 35px;
    width: 65px;
    margin: 0px 0px 5px 5px;
    padding: 0px 0px 0px 10px;
    font-size: 6px;
    overflow: auto;
}

.list-item span {
    overflow: hidden;
    cursor: pointer;
}

.list-item:hover {
    color: white;
    font-weight: bold;
}

.list-item.selected {
    /*background-color: grey;*/
    opacity: 0.5;
}

.hidden {
    display: none;
}